header {
    background-color: pink;
    font-family: Atma, sans-serif;
    height: 70px;
    display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  
}

  #icon {
    height: 50px; /* Adjust the icon size */
    width: 60px; /* Adjust the icon size */
    position:relative;
    top:12px 
}

a {
    text-decoration: none;
  }

ul {
    list-style-type: none;
    padding-left: 10px;
    font-family: Nunito Sans, sans-serif;
    padding: 0;
  margin: 0; /* Remove any default margin */

  } 

  #quote {
    font-family: "Slabo 27px", sans-serif;
    font-size: 20px;
  }
  
  section{
    margin-left: 250px;
    font-family: Nunito Sans, sans-serif;
  }

.menu-item{
    display: block;
    padding: 20px;
    color: black;
} 

footer{
    background-color: rgb(199, 249, 244);
    width:100%;
    text-align: center;
    padding:5px 0px;
    position:absolute;
    bottom:0;
}  

body{
    margin: 0px 0px 0px 0px;
    background-color: rgb(249, 238, 240);
}

#sidemenu{
    position:fixed;
    background-color: rgb(248, 224, 228);
    height:100%;
    width:200px;
    
}

.menu-item:hover {
    background-color: pink;
    transform: translateY(-5px); /* Slight lift effect on hover */
  }