body {
  margin: 0;
  background-color: rgb(249, 238, 240);
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}


header {
  background-color: pink;
  font-family: Atma, sans-serif;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 10;
  position: relative;
}

.head {
  display: flex;
  justify-content: space-between; /* Align items to the left and right */
  align-items: center;
  width: 100%; /* Ensure the header takes full width */
}

#date {
  font-family: 'Nunito Sans', sans-serif;
  margin-left: auto; /* Push the date to the right */
  padding-right: 20px; /* Add some spacing from the right edge */
}

#icon {
  height: 50px;
  width: 60px;
  position: relative;
  top: 12px;
}


#sidemenu {
  position: fixed;
  background-color: rgb(248, 224, 228);
  height: 100vh;
  width: 200px;
  transition: transform 0.3s ease;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.menu-item {
  display: block;
  padding: 15px 20px;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-item:hover {
  background-color: pink;
  transform: translateY(-5px);
}


#welcome {
  font-family: Atma, sans-serif;
  margin-left: 220px;
  padding: 20px;
}

#mainarea {
  margin-left: 220px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  padding: 20px;
}


#description {
  font-family: 'Nunito Sans', sans-serif;
  padding: 20px;
  margin: 20px auto 20px 220px;
  line-height: 2;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  width: calc(100% - 260px);
  max-width: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  text-align: justify;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#description::before {
  content: '🐾';
  font-size: 30px;
  display: inline-block;
  margin-right: 10px;
}

#description:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


footer {
  background-color: rgb(199, 249, 244);
  width: 100%;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
}


@media (max-width: 1024px) {
  #description {
    width: calc(100% - 260px);
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  #sidemenu {
    width: 160px;
  }
  
  #welcome,
  #mainarea,
  #description {
    margin-left: 180px;
  }
  
  #description {
    width: calc(100% - 200px);
  }
}

@media (max-width: 576px) {
  
  #sidemenu {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .menu-item {
    padding: 10px 15px;
    text-align: center;
  }
  
  #welcome,
  #mainarea,
  #description {
    margin-left: 0;
    width: calc(100% - 40px);
    padding: 15px;
  }
  
  header {
    text-align: center;
    justify-content: center;
  }
  
  
 
  footer {
    position: relative;
    margin-top: 20px;
  }
}