<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purrfect Paws</title>
    <link rel="stylesheet" href="/away.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Bangers&family=Caveat:wght@400..700&family=Faculty+Glyphic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Bangers&family=Caveat:wght@400..700&family=Faculty+Glyphic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">

</head>
<body>
    <%- include('header') %>

    <div id="sidemenu">
        <ul>
            <li><a href="/register" class="menu-item">Create an account</a></li>
            <li><a href="/" class="menu-item">Home page</a></li>
            <li><a href="/pets" class="menu-item">Browse Available Pets</a></li>
            <li><a href="/find" class="menu-item">Find a dog/cat</a></li>
            <li><a href="/dogcare" class="menu-item">Dog Care</a></li>
            <li><a href="/catcare" class="menu-item">Cat Care</a></li>
            <li><a href="/away" class="menu-item">Have a pet to give away</a></li>
            <li><a href="/contactus" class="menu-item">Contact Us</a></li>
            <li><a href="/logout" class="menu-item">Log Out </a></li>

        </ul>
    
    </div>
    <div id="mainarea">
        <form id="register-form" action="/register" method="POST">
            <h3>Create an Account</h3>
            <p>Username can contain letters and digits only.</p>
            <p>Password must be at least 4 characters long, contain at least one letter and one digit.</p>
           
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" pattern="[A-Za-z0-9]+" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" 
                       pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{4,}" required> <br><br>
                       <div id="success-message"></div>
                       <div id="error-message"></div>
                <button type="submit">Create Account</button>
            </form>
        
     
    </div>

<%- include('footer') %>     
<script src="form-validation.js"></script>
</body>
</html>