header {
  background-color: pink;
  font-family: Atma, sans-serif;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.head {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%; 
}

#date {
  font-family: 'Nunito Sans', sans-serif;
  margin-left: auto; 
  padding-right: 20px; 
}

#icon {
  height: 50px;
  width: 60px;
  position: relative;
  top: 12px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 10px;
  font-family: Nunito Sans, sans-serif;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: block;
  padding: 20px;
  color: black;
}

#quote {
  font-family: "Slabo 27px", sans-serif;
  font-size: 20px;
}

.slabo-27px-regular {
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
}

footer {
  background-color: rgb(199, 249, 244);
  width: 100%;
  text-align: center;
  padding: 5px 0px;
  font-family: 'Times New Roman', Times, serif;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

#guide {
  margin-left: 10px;
}

#guide p {
  margin-left: 0;
  text-align: center;
}

body {
  margin: 0;
  font-family: Nunito Sans, sans-serif;
  background-color: rgb(249, 238, 240);
  padding-bottom: 60px;
}

section {
  margin-left: 250px;
  font-family: Nunito Sans, sans-serif;
}

#guide {
  display: block;
  margin-left: 250px;
}

#guide h2 {
  margin-bottom: 10px;
}

#guide p {
  display: inline;
  margin-left: 640px;
}

#sidemenu {
  position: fixed;
  background-color: rgb(248, 224, 228);
  height: 100%;
  width: 200px;
}

.menu-item:hover {
  background-color: pink;
  transform: translateY(-5px);
}

@media (max-width: 820px) {
  #quote {
    font-size: 18px;
  }
  section {
    margin-left: 220px;
  }
  #guide {
    margin-left: 220px;
  }
  #guide p {
    margin-left: 20px;
    display: block;
  }
}

@media (max-width: 480px) {
  h1{
    font-size: 20px;
  }
  header {
    padding: 5px 10px; 
  }

  .head {
    padding: 0 10px; 
  }

  #date {
    padding-right: 10px; 
    font-size: 12px; 
  }

  #icon {
    height: 30px; 
    width: 40px;
    top: 8px;
  }

  #sidemenu {
    width: 100%;
    height: auto;
    position: relative;
  }

  .menu-item {
    padding: 10px;
    text-align: center;
  }

  #quote {
    font-size: 16px;
    text-align: center;
  }

  section {
    margin-left: 20px;
    text-align: justify;
    margin-right: 20px;
  }

  #guide {
    margin-left: 20px;
  }

  #guide p {
    margin-left: 0;
    text-align: center;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }
}
