html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(249, 238, 240);
  display: flex;
  flex-direction: column;
}


header {
  background-color: pink;
  font-family: Atma, sans-serif;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 10; 
  position: relative;
  width: 100%; 
  box-sizing: border-box; 
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px; 
  box-sizing: border-box; 
}

#date {
  font-family: 'Nunito Sans', sans-serif;
  margin-left: auto; 
  padding-right: 20px; 
}

#icon {
  height: 50px;
  width: 60px;
  position: relative;
  top: 12px;
}


.main-container {
  display: flex;
  flex: 1; 
}


#sidemenu {
  background-color: rgb(248, 224, 228);
  width: 200px; 
  overflow-y: auto; 
  padding-top: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  flex-shrink: 0; 
}

ul {
  list-style-type: none;
  padding-left: 10px;
  font-family: Nunito Sans, sans-serif;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: block;
  padding: 20px;
  color: black;
}

.menu-item:hover {
  background-color: pink;
  transform: translateY(-5px);
}



.pet-container {
  flex: 1; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  margin: 30px auto; 
  margin-bottom: 100px;
  padding-bottom: 80px;
  max-width: 800px;
  font-family: Nunito Sans, sans-serif;
}

.pet {
  border: 2px solid pink;
  padding: 15px;
  text-align: center;
  background-color: rgb(244, 217, 222);
  border-radius: 10px;
  width: 200px;
}

.pet img {
  width: 150px;
  height: 200px;
  border-radius: 10px;
}

.interested {
  background-color: white;
  border-radius: 10px;
  border: none;
  color: black;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.interested:hover {
  background-color: pink;
  color: white;
}


footer {
  background-color: rgb(199, 249, 244);
  width: 100%;
  text-align: center;
  padding: 5px 0px;
  position: relative;
  margin-top: auto; 
  z-index: 1;
}

a {
  text-decoration: none;
}


@media (max-width: 820px) {
  .main-container {
    flex-direction: column;
  }

  #sidemenu {
    width: 100%;
    height: auto;
    position: static;
    box-shadow: none;
  }

  .pet-container {
    gap: 30px;
    padding-top: 20px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }

  header {
    padding: 5px 10px;
  }

  .head {
    padding: 0 10px;
  }

  #date {
    padding-right: 10px;
    font-size: 12px;
  }

  #icon {
    height: 30px;
    width: 40px;
    top: 8px;
  }

  .pet-container {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 20px;
    margin: 20px auto;
    max-width: 90%;
  }

  .pet {
    width: 100%;
    padding: 10px;
  }

  .pet img {
    width: 100%;
    height: auto;
    max-height: 200px;
  }

  .interested {
    padding: 8px 20px;
    font-size: 12px;
  }
}